@import '../const.scss';

.home-block {
	padding: 100px 13%;
	display: flex;
}

.record {
	flex-direction: row-reverse;
	gap: 100px;
	background-color: #eef3f3;

	.record-title {
		display: flex;
		flex-direction: column;
		gap: 45px;
		width: 45%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 25px;
			-webkit-border-radius: 25px;
			-moz-border-radius: 25px;
			-ms-border-radius: 25px;
			-o-border-radius: 25px;
		}
	}

	.record-text {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 55%;

		h2 {
			font-size: 64px;
			font-weight: 600;
			margin-bottom: 0;
		}

		p {
			font-size: 20px;
			font-weight: 450;
			margin-bottom: 0;

			span {
				color: $light-pink;
				font-weight: 500;
			}
		}

		.record-text-price {
			display: flex;
			flex-direction: column;
			gap: 10px;
			margin-top: 30px;

			p {
				position: relative;
				padding-left: 20px;
				font-weight: 500;

				span {
					font-weight: 550;
				}
			}

			p:before {
				content: '';
				position: absolute;
				left: 0;
				width: 3px;
				height: 100%;
				border-radius: 100px;
				background: -webkit-linear-gradient(0deg, $pink, $pink, $light-pink);
				background: linear-gradient(0deg, $pink, $pink, $light-pink);
			}
		}
	}

	.cta-about {
		align-self: flex-start;
		background: -webkit-linear-gradient(90deg, $pink, $pink, $light-pink);
		background: linear-gradient(90deg, $pink, $pink, $light-pink);
		background-size: 200%;
		background-position: right;
		color: white;
		border: none;
		padding: 30px 70px;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 550;
		border-radius: 20px;
		animation: button1 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		-webkit-animation: button1 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
		transition: all 0.4s cubic-bezier(0, 0, 0.5, 1);
		margin-top: 50px;
	}

	.cta-about:hover {
		scale: 1.01;
		box-shadow: 4px 4px 20px hsla(339, 86%, 55%, 0.3);
		background-position: left;
	}
}

@media (max-width: 1600px) {
	.home-block {
		padding: 100px 5%;
	}
}

@media (max-width: 1475px) {
	.record {
		.advantage-block {
			gap: 30px;

			.advantage {
				span {
					font-size: 50px;
				}

				p {
					font-size: 16px;
				}
			}
		}
	}
}

@media (max-width: 1375px) {
	.record {
		.advantage-block {
			gap: 25px;

			.advantage {
				span {
					font-size: 45px;
				}

				p {
					font-size: 15px;
				}
			}
		}
	}
}

@media (max-width: 1290px) {
	.record {
		.advantage-block {
			gap: 20px;

			.advantage {
				span {
					font-size: 40px;
				}

				p {
					font-size: 14px;
				}
			}
		}
	}
}

@media (max-width: 992px) {
	.home-block {
		padding: 60px 3%;
	}

	.record {
		flex-direction: column;
		gap: 20px;

		.cta-about {
			margin-top: 20px;
			width: 100%;
			padding: 15px 30px;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 600;
			border-radius: 15px;
			-webkit-border-radius: 15px;
			-moz-border-radius: 15px;
			-ms-border-radius: 15px;
			-o-border-radius: 15px;
		}

		.record-title {
			width: 100%;
			gap: 25px;

			h2 {
				font-size: 26px;
				margin-bottom: 0;
			}
		}

		img {
			height: inherit;
			width: 100%;
			height: 35vh;
			object-fit: cover;
		}

		.record-text {
			display: flex;
			flex-direction: column;
			gap: 10px;
			width: 100%;

			h2 {
				font-size: 26px;
			}

			p {
				font-size: 14px;
				font-weight: 400;
				margin-bottom: 0;
			}
		}

		.advantage-block {
			flex-direction: column;
			gap: 20px;
			margin-top: 20px;

			.advantage {
				span {
					line-height: 1;
					font-size: 44px;
					margin-bottom: 5px;
				}
			}
		}
	}
}
